* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*ejemplo mixin*/
/*ejemplo de nesting*/
main {
  margin: 20px; }
  main h1 {
    text-align: center;
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64; }

body {
  background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
  color: #514B64;
  min-height: 100vh; }

code {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0.3rem; }

/* BEGIN: cards in servicios */
/*transition, transform, scale*/
/*ejemplo de nesting*/
.card {
  border-radius: 4px;
  background: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer; }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

/* END: efecto sobre servicio 2 */
/* Flip Cards CSS */
.card-container {
  perspective: 700px; }

.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none; }

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none; }

.card-flip .front {
  position: relative;
  z-index: 1; }

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg); }

.card-container:hover .card-flip {
  transform: rotateY(180deg); }

/* END: cards in servicios */
/* BEGIN: imagen about me */
.circular--landscape {
  display: flex;
  position: relative;
  width: 800px;
  height: 800px;
  overflow: hidden;
  border-radius: 50%; }
  .circular--landscapeimg {
    width: auto;
    height: 100%;
    margin-left: -100px;
    vertical-align: middle; }

/* END: imagen about me */
/*ejemplo de mixin*/
.form-group .btn-contact {
  color: white;
  background-color: black; }

.form-group .btnContacto {
  color: white;
  background-color: black; }

footer {
  box-sizing: border-box; }
  footer .container {
    position: absolute; }
