// variables de sas
$marginMain: 20px;
$colorTituloH1: #514B64;
$colorBody: #514B64;
$backgroundH1: linear-gradient(70deg, #e6e6e6, #f7f7f7);
$backgroundBody: linear-gradient(70deg, #e6e6e6, #f7f7f7);
$backgroundCard: white;
$boxShadowCard: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
$boxShadowCardHover: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);